.button {
  width: 100%;
  height: 56px;
  padding: 8px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--white);
  background-color: var(--cyan);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-cyan);
  }
}
