.layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: var(--48px);

  h1 {
    align-self: flex-start;
  }
}

.form {
  width: 50%;
  padding: 24px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;

  border: 1px solid var(--Gray-5, #E0E0E0);
  border-radius: 8px;

  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .input-container {
    display: flex;
    flex-flow: column nowrap;

    div {
      display: flex;

      span {
        margin-inline-start: auto;
        color: var(--red);
      }
    }

    input {
      padding: 18px 0px 18px 20px;
      border: 1px solid var(--Gray-5, #E0E0E0);
    }
  }

  .actions {
    margin-left: auto;
    width: 250px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 16px;
  }
}
