@layer themes {
  :root {
    /* COLORS */
    --white: #FFFFFF;

    /* primary */
    --deep-navy:  #00263EFF;
    --cyan:       #009EDB;
    --red:        #D71920FF;

    /* secondary */
    --coal:       #4D4D4FFF;
    --gray:       #8B8A8DFF;

    /* tertiary */
    --golden-yellow:     #FADB4AFF;

    /* other */
    --blue-gray: #273B55;
    --border-gray: #E0E0E0;

    /* HOVER */
    --hover-cyan: #2F88C2;
    --hover-golden-eyllow: #F0D140;

    /* BUTTON SHADOW */
    --btn-shadow: 0px 4px 20px -1px rgba(0, 53, 83, 0.13);
  }

    /* BUTTONS */

    /* secondary */
    .btn-secondary {
      border: 1px solid var(--bna-deep-navy, #00263E);
      background-color: var(--white);
    }

    /* donate */
    .btn-donate {
      font-family: Montserrat;
      font-weight: var(--bold);
      font-size: var(--12px);
      line-height: var(--lh-14px);

      color: var(--deep-navy);
      background-color: var(--golden-yellow);
      text-transform: uppercase;
    }

  /* LOGO */
  .svg-logo-bna-light {
    width: 178px;
    height: 43px;
  }
}
